@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body{
	margin: 0px;
	padding: 0px;
}
#headers{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 50px;
	text-align: center;
}

#mainArticles{
	display: -webkit-box;
	margin-left: 100px;
    margin-right: 100PX;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: left;
}